// ICON COLORS
$icon-white: white;
$icon-blue: #082359;


.icon-white {
  color: $icon-white;
}

.icon-blue {
  color: $icon-blue;
}

.icon-circle {
  padding: 5px;
  border: 1px solid #000;
  border-radius: 50%;
}